<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PukkaSpice - Reset Password</title>
<style>
	.center {
		margin: auto;
		width: 400px;
	}
	.email-link {
		color: #555;
		font-weight: lighter;
		font-style: italic;
	}
	h1 {
		text-align: center;
	}
	a {
		color: blue;
	}
}
</style>
</head>

<body>
	<h1>PukkaSpice</h1>
	
	<div class="center">
		<p>Hello spice lover, you have forgotten your password. No problem, we are here to help.</p>
		<p>Please click the link below to reset your password:</p>
		<p><a href="${url}">Reset Password</a></p>
		<p>If for some reason the above link isn't working, please paste the following into your web browser address bar:</p>
		<p class="email-link">${url}</p>
		<p>Have a good day, and why not try adding adding a recipe or two when you get time.</p>
	</div>
</body>

</html>